

body {
    margin: 0;
}

.window {
    position: relative;
    padding: 50px 0px;
    color: white;
}

.bg {
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 110%;
    z-index: -100;
    opacity: 1;
}

.img-box {
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.main-img {
    border-radius: 12px;
    box-shadow: 10px 15px 12px 1px rgba(0, 0, 0, .2);
    transition: all 1s;
    cursor: pointer;
}

.main-img:hover {
    transform: scale(1.03);
}

.flex-box {
    display: flex;
    justify-content: center;
}

.flex-box>p {
    margin: 12px;
}

.flex-box>a {
    text-decoration: none;
    color: rgb(192, 192, 192);
    transition: all 1s;
}

.flex-box>a:hover {
    color: red;
}

.flex-box>a:last-child {
    margin-top: 16px;
}

.desc-container {
    width: 50%;
    margin: auto;
    text-align: center;
}